.App {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	background: #000;
}

.ImageContainer {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.Shadow {
	box-shadow: 0 0 12px #ffffff88;
	border-radius: 50%;
	position: relative;
	width: 320px;
	height: 320px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition-duration: 2s;
	background-color: #000;
}

.AvatarImage {
	border-radius: 50%;
	width: 320px;
	height: 320px;
	object-fit: contain;
}

.AboutMe {
	display: flex;
	justify-content: center;
	margin: 0 0 24px;
}

.WhatDoIDo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.WhatDoIDo h3 {
	font-size: 12px;
	font-family: "Titillium Web";
	letter-spacing: 0.1rem;
	line-height: 1.5em;
	text-align: center;
}

.AboutMe h1 {
	color: white;
	margin: 0;
	font-size: 18px;
	font-family: "Titillium Web";
	letter-spacing: 0.2rem;
}

.BlueSpan {
	color: #26b2ff;
	margin-right: 4px;
}

.GreySpan {
	color: darkgray;
	margin-right: 4px;
}

.List {
	height: 40px;
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 24px;
}
