.App {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	background: #000;
}

.FunnyRole {
	font-size: 18px;
	line-height: 3rem;
	font-weight: 900;
	font-family: "Roboto";
}

.FocusArea {
	display: flex;
}

.FocusArea:nth-child(n) {
	position: relative;
}

.FocusArea ul {
	width: 100%;
	display: flex;
	top: 50%;
	position: absolute;
	transform: translate(0, -50%);
	list-style-type: none;
	margin-left: 48px;
}

.FocusArea ul li {
	white-space: nowrap;
	line-height: 1.5rem;
	font-family: "Roboto";
	font-size: 18px;
	color: #eee;
	margin-bottom: 16px;
	transition-duration: 0.25s;
	cursor: pointer;
	font-style: italic;
}

.FocusArea ul li:hover {
	text-decoration: underline;
	color: #26b2ff;
}

.ImageContainer {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.Shadow {
	box-shadow: 0 0 12px #ffffff88;
	border-radius: 50%;
	position: relative;
	width: 320px;
	height: 320px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition-duration: 2s;
	background-color: #000;
}

.AvatarImage {
	border-radius: 50%;
	width: 320px;
	height: 320px;
	object-fit: contain;
}

.AboutMe {
	display: flex;
	justify-content: center;
	margin: 0 0 24px;
}

.WhatDoIDo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
}

.WhatDoIDo h3 {
	font-size: 12px;
	font-family: "Roboto";
	letter-spacing: 0.2rem;
	line-height: 1.5em;
	text-align: center;
}

.AboutMe h1 {
	color: white;
	margin: 0;
	font-size: 18px;
	font-family: "Titillium Web";
	letter-spacing: 0.2rem;
}

.BlueSpan {
	color: #26b2ff;
	margin-right: 4px;
}

.GreySpan {
	color: darkgray;
	margin-right: 4px;
}

.List {
	height: 40px;
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 24px;
}

@media (max-width: 600px) {
	.AvatarImage {
		width: 320px;
		height: 320px;
	}

	.Shadow {
		width: 320px;
		height: 320px;
		box-shadow: 0 0 12px #ffffff44;
	}

	.FocusArea {
		flex-direction: column;
		margin-bottom: 24px;
	}

	.FocusArea ul {
		z-index: 9999;
		display: flex;
		align-items: center;
		gap: 16px;
		margin: 0;
		background: #000000ff;
		justify-content: center;
		padding: 8px 0;
		margin-left: 0;
		top: 99%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.FocusArea ul li {
		margin: 0;
		font-style: normal;
		font-size: 16px;
		color: #eee;
		padding: 0 12px;
	}
}
